* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Elementos principales */
.body {
    height: 100vh;
    position: relative;
}

h1 {
    text-align: center;
    color: #404794;
    background-color: rgb(239, 253, 255);
    background-size: cover;
}

h2 {
    text-align: center;
    margin: 1.5em;
    color: #404794;
}

h3 {
    text-align: center;
    color: #404794;
}

h4 {
    font-size: medium;
    color: #404794;
}



a {
    text-decoration: none;
    color: #404794;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: #404194;
}



/* NavBar */
.navbar {
    background-color: rgba(208, 242, 249, 0.653);
}

.navbar ul {
    text-decoration: none;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    padding-right: 1.5em;
    font-size: medium;
}

.navbar ul li a{
    display: block;
    padding: 0.1rem ;
    transition: all 0.3s linear;
    border-radius: 2px;
}

.navbar ul li a:hover{
    background: lightblue;
}





/*IMAGENES INDEX HOVER*/


.section {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box {
    width: 40%;
    height: 60vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 10px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .hover {
    width: 0%;
    height: 50hv;
    background-color: rgba(141, 146, 147, 0.667);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s all;
}

.hover h5 {
    color: rgb(231, 243, 246);
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
}

.box:hover .hover {
    width: 100%;
}



/* Imagenes*/

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 2rem;
    padding: 4rem;
}

.imagenes img {
    width: 300px;
    border-radius: 3%;
}

.img-principal img {
    width: 100%;
    height: auto;
}



/*IMAGENES PRODUCTOS*/

.productos {
    width: 400px;
    height: 400px;
    margin: 2rem;
    padding: 0;
}


.lista-productos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.producto {
    max-width: 400px;
    width: 80%;
    min-width: 100px;
    padding: 0.5em;
    margin: 1em auto;
}


.producto img {
    margin-top: 0.5em;
    width: 100%;
}



/* NOSOTROS*/
.nosotros {
    width: 400px;
    height: 500px;
    margin: 2rem;
    padding: 0;
}


.lista-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.nosotros {
    max-width: 400px;
    width: 80%;
    min-width: 100px;
    padding: 0.5em;
    margin: 1em auto;
}


.nosotros img {
    margin-top: 0.5em;
    width: 100%;
}

/*MEDIA QUERY*/

@media screen and (min-width: 420px) {

    
    .lista-productos {
        flex-direction: row;
    }

    .producto {
        width: 25%;
    }

    .header {
        text-align: center;
    }
    
    .container .content {
        grid-column: 1/-1;
    }
    
    .container .sidebar {
        grid-column: 1/6;
    }
    
    .container .related-post{
        grid-column: 1/-1;
    }
}

/*GRID EVENTOS*/
.container {
    background:   rgba(249, 249, 249, 0.612);
    max-width: 100%;
padding: 1rem;
    height: 100%;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .content,
.container > .sidebar,
.container > div {
    padding: 20px;
    border: 1px solid #000000;
}

.container .header,
.container .footer{
    grid-column: 1/6;
    color: black;
}

.container > .content {
    grid-column: span 3;
}

.content > .article {
    background: rgba(123, 153, 183, 0.612);
    padding: 20px;
    margin-top: 10px;
    color: black;
}

.content .article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: #404194;
}

.content .article h1,
.content .article p {
    padding: 40px;
}


.container > .sidebar {
    grid-column: span 2;
    background: rgba(123, 153, 183, 0.612);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img{
    width: 100%;
    margin-top: 5px;
}



/*FOOTER REDES SOCIALES */

.iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
    bottom: 0%;
}


.footer-eventos {
    grid-column: 1/6;
width: 100%;
bottom: 0%;
}


footer p {
    font-size: 16px;
    margin: 0;
}


/*MAPA GOOGLE MAPS*/

.mapas {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}





/* FORMULARIO CONTACTO */

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 2em;
}

fieldset label {
    font-weight: 300;
    padding: 5px;
}

fieldset .form-input {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0;
}

fieldset .form-select {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10px 0;
}



