.lista-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.nosotros {
    max-width: 400px;
    width: 80%;
    min-width: 100px;
    padding: 0.5em;
    margin: 1rem auto;
    img {

        margin-top: 0.5em;
        width: 100%;
        border-radius: 0.5rem;
    }
}



